@page
@using SS14.Web.Areas.Identity.Pages.Account
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section>
            <h4>Sign in with your account</h4>
            <hr />
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div class="alert alert-warning">
                        <p>
                            No authentication providers are configured. Please contact the administrator.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div>
                            <p class="text-info">
                                Please sign in using one of the following providers:
                            </p>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary btn-lg btn-block mb-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <i class="fas fa-sign-in-alt"></i> Sign in with @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
